.icon-ezpz {
    background-image: url(../images/icon.png);
}
.admin.com_ezpz .contained-m {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
}
.contained-m.border-ddd {
    border: 1px solid #ddd;
}